body {
    background: #656565;
    color: white;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
}
.container {
    max-width: 1200px;
    margin: 0 auto;


}

.field {
    /*display: flex;*/
    /*justify-content: space-around;*/
    /*align-content: space-around;*/
    /*flex-wrap: wrap;*/
    width: 320px;
    height: 330px;
    padding: 4px;
    margin: 60px auto;

    background: #656565;
    border-radius: 100%;
    box-shadow: inset 9.91px 9.91px 15px #5C5C5C, inset -9.91px -9.91px 15px #6E6E6E;
}

.cell {
    width: 100px;
    height: 100px;

    font-size: 36px;
    text-align: center;
    line-height: 100px;

    background: linear-gradient(145deg, #777777, #535353);
    border-radius: 15%;
    box-shadow: 9.91px 9.91px 15px #5C5C5C, -9.91px -9.91px 15px #6E6E6E;
}

.win-message {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin: 20px;
}

.shuffle {
    margin-left: 50%;
    transform: translateX(-50%);

border: none;
    border-radius: 10px;
    padding: 16px;
    font-size: 18px;
    font-weight: bold;
    color:white;

    background: linear-gradient(145deg, #777777, #535353);
    border-radius: 15%;
    box-shadow: 9.91px 9.91px 15px #5C5C5C, -9.91px -9.91px 15px #6E6E6E;
}

.move-counter {

    font-size: 24px;

}
.count {

}
.last-result-block {
    margin-top: 20px;
    font-size: 24px;
}

 /* // CALCULATOR */
 .calculator {
    margin-top: 60px;
    background-color: #3f3f3f;
    padding: 60px;
   
   & input {
        font-size: 20px;
        
    }
 }

 .diameter {
width: 200px;
 }
 .depth {
width: 200px;
 }
 .calc-button {
     padding: 10px;
     background: #e7e7e7;
 }
 .result {

 }